* {box-sizing: border-box;}

@font-face {
    font-family: apple;
    src: url('fonts/AppleGaramond.ttf');
}
body {
    margin: 0;
    padding: 0;
    background-color: hsl(180, 45%, 18%);
    font-family: apple;
}

h1, h2 { color: rgb(230, 80, 110);}

.top-presentation p {
    color: rgb(185, 160, 230);
}
.top-container {
    margin: -21px 0 0 0;
    padding: 0;
    background-color: #2e2e2e;
    height: fit-content;
}

.top-group {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    position: relative;
}

.presentation-container {
    margin-top: 50px;
}

.menu-links {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap row;
    width: 100%;
}

.link {
    width: calc((100% / 3) - 80px);
    margin: 30px;
}

.menu-links a {
    text-decoration: none;
    color: rgb(205, 215, 213);
    text-align: center;
}

@media screen and (max-width: 1250px) {
    .link {
        width: calc((100% / 2) - 80px)
    }
}
@media only screen and (max-width: 875px) {
    .link {
        width: calc((100% / 1) - 80px);
    }
}

@media only screen and (max-width: 490px) {
    .menu-links img {
        width: 100%;
    }

    body {
        font-size: 0.7em;
    }
}